{
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "implicit-arrow-linebreak": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "import/no-dynamic-require": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "no-underscore-dangle": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-closing-tag-location": 0,
    "react/prop-types": 0,
    "arrow-body-style": 0,
    "no-unused-expressions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0
  }
}